<!-- ===========================
=====>> 02.12 blog <<===== -->
<section class="blog-area py-120">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-4 row-gap-4 d-grid">
                <div class="section-title">
                    <span class="fs-16 fw-semibold primary-text d-flex align-items-center gap-2">
                        <img src="assets/images/icon/mozy1.svg" alt="title icon">
                        Blog post
                    </span>
                    <h2 class="fw-bold secondary-text">
                        Latest blog post
                    </h2> 
                    <p>Exercitation llamco laboris nis aliquip sed conseqrure dolorn repreh deris luptate velit excepteur duis aute irure.</p> 
                    <button class="btn-blog-post">See all blog post</button>
                </div> 
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/images/blog/5.jpg" alt="blog image">
                    </div>
                    <div class="blog-content">
                        <div class="date">23 Apr, 2020</div>
                        <h6>A Discount Cartridge dsu is Better Ever.</h6>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 row-gap-4 d-grid">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/images/blog/1.jpg" alt="blog image">
                    </div>
                    <div class="blog-content">
                        <div class="date">23 Apr, 2020</div>
                        <h6>A Discount Cartridge dsu is Better Ever.</h6>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/images/blog/3.jpg" alt="blog image">
                    </div>
                    <div class="blog-content">
                        <div class="date">23 Apr, 2020</div>
                        <h6>A Discount Cartridge dsu is Better Ever.</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 row-gap-4 d-grid">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/images/blog/2.jpg" alt="blog image">
                    </div>
                    <div class="blog-content">
                        <div class="date">23 Apr, 2020</div>
                        <h6>A Discount Cartridge dsu is Better Ever.</h6>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/images/blog/4.jpg" alt="blog image">
                    </div>
                    <div class="blog-content">
                        <div class="date">23 Apr, 2020</div>
                        <h6>A Discount Cartridge dsu is Better Ever.</h6>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>
<!-- =====>> End 02.12 blog <<===== 
=========================== -->
