<!-- ===========================
=====>> 02.08 team <<===== -->
<section id="team" class="team-arae py-120">
    <div class="container">
        <div class="row">   
            <div class="row justify-content-center">   
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <span class="fs-16 fw-semibold primary-text d-flex align-items-center justify-content-center gap-2">
                            <img src="assets/images/icon/mozy1.svg" alt="title icon">
                            Expart team
                        </span>
                        <h2 class="fw-bold secondary-text">
                            Meet with our expert team
                        </h2>
                        <p class="pt-4">Exercitation llamco laboris nis aliquip sed conseqrure dolorn <br class="d-none d-lg-block"> repreh deris luptate velit excepteur duis aute irure.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12"> 
                <div class="team-slide owl-carousel owl-theme">
                    <div class="item">
                        <div class="team-item">
                            <div class="image">
                                <img src="assets/images/team/team1.png" alt="team">
                            </div>
                            <div class="content">
                                <div class="fs-20 fw-bold">Brooklyn Simmons</div>
                                <p class="gray-text">CTO, GL Group</p>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>  
                    <div class="item">
                        <div class="team-item">
                            <div class="image">
                                <img src="assets/images/team/team2.png" alt="team">
                            </div>
                            <div class="content">
                                <div class="fs-20 fw-bold">Leslie Alexander</div>
                                <p class="gray-text">Funder, GL Group</p>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>  
                    <div class="item">
                        <div class="team-item">
                            <div class="image">
                                <img src="assets/images/team/team3.png" alt="team">
                            </div>
                            <div class="content">
                                <div class="fs-20 fw-bold">Ronald Richards</div>
                                <p class="gray-text">CTO, GL Group</p>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>  
                    <div class="item">
                        <div class="team-item">
                            <div class="image">
                                <img src="assets/images/team/team4.png" alt="team">
                            </div>
                            <div class="content">
                                <div class="fs-20 fw-bold">Darlene Robertson</div>
                                <p class="gray-text">Advisor, GL Group</p>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>  
                </div> 
            </div> 
        </div>
    </div>
</section>
<!-- =====>> End 02.08 team <<===== 
=========================== -->
