<!-- ===========================
=====>> 02.06 why-choose <<===== -->
<section id="" class="why-choose-area">
    <div class="container">
        <div class="row justify-content-between">   
            <div class="col-lg-7">
                <div class="why-choose-content py-120">
                    <div class="section-title">
                        <span class="fs-16 fw-semibold primary-text d-flex align-items-center gap-2">
                            <img src="assets/images/icon/mozy1.svg" alt="title icon">
                            Why We are
                        </span>
                        <h2 class="fw-bold secondary-text">Why choose us for your next business</h2>
                    </div>
                    <div class="why-choose-list">
                        <div class="why-choose-item">
                            <div class="icon">
                                <img src="assets/images/icon/first-service.svg" alt="icon">
                            </div>
                            <div class="content">
                                <div class="fw-bold fs-20">First service</div>
                                <p>Curabitur ullamcorper ultricies Etihoncus aecenas .....</p>
                            </div>
                        </div>
                        <div class="why-choose-item">
                            <div class="icon">
                                <img src="assets/images/icon/security.svg" alt="icon">
                            </div>
                            <div class="content">
                                <div class="fw-bold fs-20">Money security</div>
                                <p>Curabitur ullamcorper ultricies Etihoncus aecenas .....</p>
                            </div>
                        </div> 
                        <div class="why-choose-item">
                            <div class="icon">
                                <img src="assets/images/icon/easy-use.svg" alt="icon">
                            </div>
                            <div class="content">
                                <div class="fw-bold fs-20">Easy to Use</div>
                                <p>Curabitur ullamcorper ultricies Etihoncus aecenas .....</p>
                            </div>
                        </div> 
                        <div class="why-choose-item">
                            <div class="icon">
                                <img src="assets/images/icon/hidden-charge.svg" alt="icon">
                            </div>
                            <div class="content">
                                <div class="fw-bold fs-20">No hidden charge</div>
                                <p>Curabitur ullamcorper ultricies Etihoncus aecenas .....</p>
                            </div>
                        </div> 

                    </div>
                </div>
            </div>
            <div class="col-lg-4 align-self-end">
                <div class="why-choose-img">
                    <img src="assets/images/home-one/ManImage.png" alt="man image">
                </div>
            </div>
        </div>
        </div>
</section>
<!-- text slider -->
<div class="text-slider"> 
    <div id="text-roller">
        <span>Easy, fast, Safety, No hinner </span>
    </div>
</div>

<!-- =====>> End 02.06 why-choose <<===== 
=========================== --> 
