<!-- ===========================
=====>> 02.01 header <<===== -->
<header class="home-one-header">
    <div class="container">
        <div class="header-addres">
            <div class="left-adders">
                <div class="top-adders-contents">
                    <div class="adders-content">
                        <i class="fa-solid fa-phone-volume"></i>
                        <div class="d-grid">
                            <div class="fs-18 fw-medium white-text">+92 300 123 4567</div>
                            <span class="fs-16 white-text">Requesting a Call</span>
                        </div>
                    </div>
                    <div class="adders-content">
                        <i class="fa-regular fa-clock"></i>
                        <div class="d-grid">
                            <div class="fs-18 fw-medium white-text">09AM - 08PM</div>
                            <span class="fs-16 white-text">Saturday - Tuesday</span>
                        </div>
                    </div> 
                </div> 
            </div>
            <div class="left-right">
                <ul class="social-icon">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest"></i></a></li> 
                </ul>
                <div class="dropdown language-btn">
                    <button id="dropdownButton" class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        English
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#" onclick="changeButtonText('English')">English</a></li>  
                        <li><a class="dropdown-item" href="#" onclick="changeButtonText('Français')">Français</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeButtonText('Deutsch')">Deutsch</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
</header>
<!-- =====>> End 02.01 header <<===== 
=========================== -->
