
    <!-- Jquery js -->
    <script src="assets/js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap Bundle Js -->
    <script src="assets/js/bootstrap.bundle.min.js"></script> 
    <!-- Owl Carousel -->
    <script src="assets/js/owl.carousel.min.js"></script> 
    <!-- Slick -->
    <script src="assets/js/slick.min.js"></script>  
    <!-- ScrollSmoother -->
    <script src="assets/js/ScrollSmoother.min.js"></script>  
    <!-- counter -->
    <script src="assets/js/counter.min.js"></script> 
    <!-- main js -->
    <script src="assets/js/main.js"></script> 
</body>
</html>
