/* ============================
    03.09 consulting-services css 
=============================== */
.home-two-consulting-services-area {
    position: relative;
    z-index: 1;
    margin-bottom: 45px;

    &::before {
        content: "";
        position: absolute;
        width: 967px;
        height: 678px;
        left: 0;
        top: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='967' height='678' viewBox='0 0 967 678' fill='none'%3E%3Cpath d='M-9 0.596191V378.745V528.17V677.596L47.6663 471.461L223.5 442.627L310 391.683L358.319 277.927L776.396 547.341L910.5 434.096L967 258.262L953.46 132.254L811.649 25.4337L-9 0.596191Z' fill='%23E6EDF9'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        z-index: -1;
    }

    .consulting-services-img {
        position: relative;

        .image {
            position: relative;
            z-index: 1;
            padding-left: 30px;
            padding-right: 30px;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
                width: 100%;
                height: 80%;
                border-radius: 600px 600px 0px 0px;
                background: hsl(var(--primary));
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .logo__subs__label {
            position: absolute;
            bottom: -45px;
            left: -45px;
        }
    }

    .who-we-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

        img {
            width: 100%;
            height: auto;
        }

        .img-item {
            text-align: center;

            &:nth-child(1) {
                img {
                    &:nth-child(1) {
                        border-radius: 600px 600px 0px 0px;
                    }

                    &:nth-child(2) {
                        width: auto;
                        margin: 40px auto 0;
                        animation: alltuchtopdown 3500ms ease-out infinite;
                    }
                }
            }

            &:nth-child(2) {
                margin-top: 40px;
                text-align: left;

                img {
                    &:nth-child(1) {
                        border-radius: 600px;
                        max-width: 218px;
                        max-height: 219px;
                    }

                    &:nth-child(2) {
                        border-radius: 0px 0px 600px 600px;
                        margin-top: 24px;
                    }
                }
            }
        }
    }

    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin-top: 40px;
        max-width: 500px;

        .progress-circle-content {
            display: flex;
            gap: 20px;
            align-items: center;

            .fs-20 {
                color: hsl(var(--secondary));
                font-weight: bold;
            }
        }

        .circle-proge {
            position: relative;
            width: 80px;
            height: 80px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;

            &__inner {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80px;
                height: 80px;
                border-radius: 50%;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='84' height='84' viewBox='0 0 84 84' fill='none'%3E%3Cpath d='M42.4483 4.23762C42.4803 1.91014 44.3981 0.0271184 46.7103 0.294769C54.0427 1.14351 61.0438 3.93619 66.9722 8.41836C74.0254 13.7509 79.1916 21.1963 81.7182 29.6698C84.2448 38.1433 83.9997 47.2021 81.0188 55.5266C78.0379 63.8511 72.4767 71.0064 65.1456 75.9499C57.8145 80.8934 49.0965 83.3669 40.2615 83.0101C31.4266 82.6532 22.9364 79.4847 16.0278 73.9661C9.11926 68.4475 4.1533 60.8671 1.8534 52.3293C-0.0797348 45.153 -0.0444326 37.6155 1.91723 30.4997C2.53583 28.2557 5.00045 27.1835 7.17019 28.0264C9.33994 28.8692 10.3871 31.3085 9.82671 33.5677C8.4811 38.9931 8.52676 44.6952 9.9926 50.1367C11.8255 56.9409 15.7831 62.982 21.2888 67.3801C26.7945 71.7781 33.5607 74.3032 40.6017 74.5876C47.6426 74.872 54.5904 72.9007 60.4329 68.961C66.2754 65.0213 70.7073 59.319 73.0829 52.6849C75.4586 46.0507 75.6538 38.8313 73.6403 32.0784C71.6267 25.3255 67.5096 19.392 61.8886 15.1422C57.3933 11.7436 52.1241 9.56379 46.5899 8.7776C44.2853 8.45022 42.4164 6.56509 42.4483 4.23762Z' fill='%23266FF2'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: center;
                background-color: #E3EDFF;
                z-index: -1;
            }

            &__text {
                p {
                    font-size: 20px;
                    color: hsl(var(--secondary));
                    font-weight: 700;
                }
            }
        }

        .content-item {
            background: hsl(var(--white));
            padding: 0px 30px 30px;
            border-radius: 8px;
            margin-top: 15px;

            .icon {
                background: hsl(var(--primary));
                display: inline-block;
                border-radius: 0px 0px 100px 100px;
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: -15px;
                position: relative;
                z-index: 1;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: -11px;
                    width: 11px;
                    height: 17px;
                    background: #1153C9;
                    clip-path: polygon(0 1%, 100% 100%, 0% 100%);
                }
            }
        }

        .who-list {
            grid-column: 1/-1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;

            li {
                i {
                    color: hsl(var(--primary));
                }

                color: hsl(var(--secondary));
            }
        }
    }

    .consulting-call-btn {
        margin-top: 50px;
        .call-btn {
            background: #E3EDFF;
            border: 2px solid hsl(var(--primary));
            border-radius: 100px;
            padding: 10px 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-family: "Fraunces";
            font-size: 32px;
            font-weight: 700;
            color: hsl(var(--primary));
        }
    }
}
