/* ============================
    03.08 pricing css
=============================== */
.home-two-pricing-area {

    .project-nav {
        display: flex;
        border-radius: 30px;
        background: #F8FBFF;
        justify-content: center;
        max-width: 258.031px;
        margin: 50px auto;

        button {
            font-size: 20px;
            color: hsl(var(--gray3));
            font-weight: 500;
            border-radius: 32.912px;
            padding-left: 30px;
            padding-right: 30px;

            &.active {
                background: hsl(var(--white));
                box-shadow: 0px 6.582px 26.33px 0px rgba(18, 2, 47, 0.10);
                color: hsl(var(--secondary));

            }
        }

    }

    .pricing-item {
        border-radius: 12px;
        background: hsl(var(--white));
        padding: 40px 24px;
        border-radius: 600px 600px 0px 0px;
        text-align: center;
        transition: all .4s;
        border-bottom: 2px solid hsl(var(--primary));

        &:hover {
            background: hsl(var(--primary));
            border-color: hsl(var(--secondary));

            p,
            p span,
            li,
            h4,
            .pricing-btn,
            .pricing-number {
                color: hsl(var(--white));
            }
        }

        .pricing-number {
            font-family: "Fraunces";
            font-size: 75px;
            color: hsl(var(--primary));
            font-weight: 700;

            sup {
                font-size: 40px;
            }
        }

        h4 {
            font-size: 24px;
            color: hsl(var(--secondary));
        }

        p {
            color: hsl(var(--secondary));
            font-size: 16px;
            margin-top: 10px;

            span {
                color: hsl(var(--gray3));
                display: inline;
            }
        }

        ul {
            text-align: left;
            padding: 24px;
            display: grid;
            gap: 5px;

            li {
                display: flex;
                align-items: center;
                position: relative;
                font-size: 14px;
                gap: 5px;
                color: hsl(var(--gray3));


                &::before {
                    content: '\f111';
                    font-family: "Font Awesome 6 free";
                    font-weight: 900;
                    font-size: 5px;
                }
            }
        }



        .pricing-btn {
            border: 1px solid hsl(var(--gray4));
            border-radius: 4px;
            padding: 12px 20px;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 500;
            color: hsl(var(--gray3));
            width: 100%;
            text-align: center;

            &:hover {
                background: hsl(var(--primary));
                color: hsl(var(--white))
            }
        }

    }
}
