/* ============================
    02.06 why-choose css
=============================== */
.why-choose-area {
    background-image: url("../images/home-one/choose-shape.png");
    @include bgp;
    .why-choose-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin-top: 40px;

        .why-choose-item {
            border-radius: 10px;
            background: hsl(var(--white));
            box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.10);
            display: flex;
            align-items: start;
            padding: 24px;
            gap: 14px;
           

            .icon {
                background: rgba(0, 0, 0, 0.10);
                width: 95px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
            }
            .content{
                .fs-20{
                    color: hsl(var(--secondary));
                }
                p{
                    color: hsl(var(--gray3));
                    font-weight: 400;
                }
            }
        }
    }
}





