<!-- ===========================
=====>> 03.03 banner <<===== -->
<section class="home-two-banner">
    <div class="container">
        <div class="row justify-content-between"> 
            <div class="col-lg-5 align-self-center">
                <div class="content">
                    <h1>We are provide consulting  services</h1>
                    <p>Unlocking Growth Exploring The Powerhouse Features Of Our Business Solution.</p>
                    <div class="banner-btn">
                        <button class="get-started-btn">get started</button>
                        <a href="#" class="video-play-btn">
                            <i class="fa-solid fa-play"></i>
                        </a>
                    </div> 
                </div>
            </div> 
            <div class="col-lg-6 align-self-center">
                <div class="banner-right">
                    <div class="banner-img-item">
                        <img class="image-b" src="assets/images/home-two/b1.png" alt="">
                        <img class="alltuchtopdown-shape" src="assets/images/home-two/bs1.png" alt="">
                    </div>
                    <div class="banner-img-item">
                        <img class="image-b" src="assets/images/home-two/b2.png" alt="">
                        <img class="image-b" src="assets/images/home-two/b3.png" alt="">
                    </div>
                    <div class="banner-img-item">
                        <img class="image-b" src="assets/images/home-two/b4.png" alt="">
                        <img class="round-shape" src="assets/images/home-two/bs2.png" alt="">
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>
<!-- =====>> End 03.02 banner <<===== 
=========================== -->
  