<!-- ===========================
=====>> 03.03 banner <<===== -->
<section class="home-two-banner">
    <div class="container">
        <div class="row justify-content-between"> 
            <div class="col-lg-5 align-self-center">
                <div class="content">
                    <h1>We are provide consulting  services</h1>
                    <p>Unlocking Growth Exploring The Powerhouse Features Of Our Business Solution.</p>
                    <div class="banner-btn">
                        <button class="get-started-btn">get started</button>
                        <a href="#" class="video-play-btn">
                            <i class="fa-solid fa-play"></i>
                        </a>
                    </div> 
                </div>
            </div> 
            <div class="col-lg-6 align-self-center">
                <div class="banner-right">
                    <div class="banner-img-item">
                        <img class="image-b" src="assets/images/home-two/b1.png" alt="">
                        <img class="alltuchtopdown-shape" src="assets/images/home-two/bs1.png" alt="">
                    </div>
                    <div class="banner-img-item">
                        <img class="image-b" src="assets/images/home-two/b2.png" alt="">
                        <img class="image-b" src="assets/images/home-two/b3.png" alt="">
                    </div>
                    <div class="banner-img-item">
                        <img class="image-b" src="assets/images/home-two/b4.png" alt="">
                        
                        <div class=" circle-log-primary mt-4">
                            <div class="logo__subs__label">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" viewBox="0 0 58 58" fill="none">
                                        <path d="M58.0004 29.0002C58.0004 26.8758 57.7719 24.8047 57.3381 22.81C57.1122 32.4157 49.508 36.9316 40.081 36.5158C33.1959 36.2126 24.7035 33.8932 19.9875 40.5979C16.7025 45.2676 17.9945 54.2849 23.0258 57.3834C24.9535 57.7871 26.9516 58.0002 28.9995 58.0002C45.0162 58.0002 58.0004 45.0159 58.0004 29.0002Z" fill="#000F5C"/>
                                        <path d="M36.546 14.7624C38.1163 20.9749 42.9466 24.594 49.3507 23.7694C52.286 23.3914 55.4653 21.9345 55.9042 18.5817C55.9188 18.4683 55.93 18.354 55.9369 18.2381C51.6632 7.55087 41.2139 0 29.0003 0C26.6517 0 24.3675 0.280044 22.1804 0.806629C30.3842 0.659735 34.6656 7.32151 36.546 14.7624Z" fill="#000F5C"/>
                                        <path d="M39.9655 29.2227C35.7872 23.6759 27.6668 22.0446 21.1656 22.201C16.2185 22.3204 9.26292 23.6974 7.77594 17.1885C6.48396 11.5361 12.614 5.41983 16.977 2.89514C16.1498 3.17519 15.3423 3.49389 14.5571 3.84695C5.85773 8.85252 0 18.2426 0 29.0002C0 41.53 7.94689 52.2035 19.0748 56.2572C13.199 50.3497 11.6167 40.2252 17.3627 33.584C22.5298 27.6129 33.0744 28.0819 39.9655 29.2227Z" fill="white"/>
                                        <path d="M22.2802 16.869C25.966 14.7409 27.8076 11.0304 26.3936 8.5813C24.9796 6.13219 20.8453 5.87192 17.1595 7.99997C13.4738 10.128 11.6321 13.8385 13.0462 16.2877C14.4602 18.7368 18.5944 18.997 22.2802 16.869Z" fill="white"/>
                                    </svg>
                                    <div class="logo__circle__text">
                                        <p>YOUR BUSINESS MAKE PLANNING FOR</p>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>
<!-- =====>> End 03.02 banner <<===== 
=========================== -->
  