<!-- ===========================
=====>> 03.11 client-feedback <<===== -->
<section class="home-two-client-feedback-area py-120">
    <div class="container">
        <div class="row">   
            <div class="col-lg-5">
                <div class="feedback-content">
                    <div class="section-title-two">
                        <span class="fs-16 fw-semibold white-text d-flex align-items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <rect x="5" y="4.09619" width="14" height="14" rx="3" stroke="white" stroke-width="2"/>
                                <rect y="0.0961914" width="16" height="16" rx="4" fill="#266FF2"/>
                            </svg>
                            Client feedback
                        </span>
                        <h2 class="fw-bold white-text">
                            What say our client
                        </h2> 
                        <p>Exercitation llamco laboris nis aliquip sed conseqrure dolorn repreh deris</p>
                    </div> 
                    <div class="arrow-btn-group">
                        <button class="prev-button" aria-label="Previous"><i class="fa-solid fa-chevron-left"></i></button>
                        <button class="next-button" aria-label="Next"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                    <div class="client-review">
                        <div class="client-img">
                            <img src="assets/images/client/1.png" alt="client images">
                            <img src="assets/images/client/2.png" alt="client images">
                            <img src="assets/images/client/3.png" alt="client images">
                            <button><i class="fa-solid fa-plus"></i></button>
                        </div>
                        <span class="fs-20 white-text">24+ Client Review</span>
                    </div>
                </div> 
            </div> 
            <div class="col-lg-7">
                <div class="home-tow-feedback-slide owl-carousel owl-theme">
                    <div class="item">
                        <div class="feedback-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="127" height="128" viewBox="0 0 127 128" fill="none">
                                <circle cx="63.644" cy="63.9445" r="56.714" fill="#266FF2" stroke="#0D2738" stroke-width="12.7314"/>
                                <path d="M66.2671 76.4925C70.7426 66.335 80.1413 67.2182 84.6246 72.7889C89.1079 78.3596 83.498 85.546 78.5749 86.4292C73.6518 87.3125 65.8195 84.0003 65.8331 72.9228C65.8513 58.1648 81.3897 44.0253 83.0972 42.7837" stroke="white" stroke-width="3.81941" stroke-linecap="round"/>
                                <path d="M39.9985 76.4925C44.4741 66.335 53.8728 67.2182 58.3561 72.7889C62.8394 78.3596 57.2295 85.546 52.3063 86.4292C47.3832 87.3125 39.551 84.0003 39.5646 72.9228C39.5828 58.1648 55.1212 44.0253 56.8287 42.7837" stroke="white" stroke-width="3.81941" stroke-linecap="round"/>
                            </svg>
                            <p>
                                Consupro work lped us save ctical level of ourromoting nding plan. clients an expect accomp services
                            </p>
                            <div class="feedback-admin">
                                <div class="feedback-name">
                                    Brooklyn simmons
                                </div>
                                <div class="feedback-company">
                                    CTO, Green solution
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="127" height="128" viewBox="0 0 127 128" fill="none">
                                <circle cx="63.644" cy="63.9445" r="56.714" fill="#266FF2" stroke="#0D2738" stroke-width="12.7314"/>
                                <path d="M66.2671 76.4925C70.7426 66.335 80.1413 67.2182 84.6246 72.7889C89.1079 78.3596 83.498 85.546 78.5749 86.4292C73.6518 87.3125 65.8195 84.0003 65.8331 72.9228C65.8513 58.1648 81.3897 44.0253 83.0972 42.7837" stroke="white" stroke-width="3.81941" stroke-linecap="round"/>
                                <path d="M39.9985 76.4925C44.4741 66.335 53.8728 67.2182 58.3561 72.7889C62.8394 78.3596 57.2295 85.546 52.3063 86.4292C47.3832 87.3125 39.551 84.0003 39.5646 72.9228C39.5828 58.1648 55.1212 44.0253 56.8287 42.7837" stroke="white" stroke-width="3.81941" stroke-linecap="round"/>
                            </svg>
                            <p>
                                Consupro work lped us save ctical level of ourromoting nding plan. clients an expect accomp services
                            </p>
                            <div class="feedback-admin">
                                <div class="feedback-name">
                                    Roabart jonson
                                </div>
                                <div class="feedback-company">
                                    Funder, Green solution
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="127" height="128" viewBox="0 0 127 128" fill="none">
                                <circle cx="63.644" cy="63.9445" r="56.714" fill="#266FF2" stroke="#0D2738" stroke-width="12.7314"/>
                                <path d="M66.2671 76.4925C70.7426 66.335 80.1413 67.2182 84.6246 72.7889C89.1079 78.3596 83.498 85.546 78.5749 86.4292C73.6518 87.3125 65.8195 84.0003 65.8331 72.9228C65.8513 58.1648 81.3897 44.0253 83.0972 42.7837" stroke="white" stroke-width="3.81941" stroke-linecap="round"/>
                                <path d="M39.9985 76.4925C44.4741 66.335 53.8728 67.2182 58.3561 72.7889C62.8394 78.3596 57.2295 85.546 52.3063 86.4292C47.3832 87.3125 39.551 84.0003 39.5646 72.9228C39.5828 58.1648 55.1212 44.0253 56.8287 42.7837" stroke="white" stroke-width="3.81941" stroke-linecap="round"/>
                            </svg>
                            <p>
                                Consupro work lped us save ctical level of ourromoting nding plan. clients an expect accomp services
                            </p>
                            <div class="feedback-admin">
                                <div class="feedback-name">
                                    Brooklyn Simmons
                                </div>
                                <div class="feedback-company">
                                    CTO, Green solution
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =====>> End 03.11 client-feedback <<===== 
=========================== -->
