<!-- ===========================
=====>> 03.07 project <<===== -->
<section class="home-two-project-area py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <span class="fs-16 fw-semibold white-text d-flex align-items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <rect x="5" y="4.5" width="14" height="14" rx="3" stroke="#000F5C" stroke-width="2"/>
                            <rect y="0.5" width="16" height="16" rx="4" fill="#266FF2"/>
                        </svg>
                        Our project
                    </span>
                    <h2 class="fw-bold white-text">
                        Our latest project
                    </h2>
                    <p class="pt-4 ">
                        Exercitation llamco laboris nis aliquip sed conseqrure dolorn repreh deris
                    </p>
                </div> 
            </div> 
            <div class="col-lg-6">
                <div class="d-flex justify-content-end">
                    <button class="btn-project">
                        See all project
                    </button>
                </div>
            </div> 
        </div>
        <div class="row project-content">
            <div class="col-lg-3 col-md-6">
                <div class="project-item">
                    <div class="image">
                        <img src="assets/images/home-two/p1.jpg" alt="project">
                    </div>
                    <div class="content">
                        <button>marketing</button>
                        <h6>A Discount Cartridge dsu is Better Ever.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =====>> End 03.04 project <<===== 
=========================== -->
