<!-- ===========================
=====>> 03.10 team <<===== -->
<section class="home-two-team-area py-120">
    <div class="container">  
        <div class="row justify-content-center">   
            <div class="col-lg-6">
                <div class="section-title-two text-center">
                    <span class="fs-16 fw-semibold primary-text d-flex align-items-center justify-content-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <rect x="5" y="4.09619" width="14" height="14" rx="3" stroke="#000F5C" stroke-width="2"/>
                            <rect y="0.0961914" width="16" height="16" rx="4" fill="#266FF2"/>
                        </svg>
                        Expert team 
                    </span>
                    <h2 class="fw-bold secondary-text">
                        Our expert ready for you
                    </h2>
                    <p class="pt-4">Exercitation llamco laboris nis aliquip sed conseqrure dolorn repreh deris luptate velit excepteur duis aute irure.</p>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-lg-12"> 
                <div class="team-slide owl-carousel owl-theme">
                    <div class="item">
                        <div class="team-item">
                            <div class="image">
                                <img src="assets/images/home-two/t1.png" alt="team">
                            </div>
                            <div class="social-content">
                                <ul class="social-links">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <div class="content">
                                <div class="fs-20 fw-bold">Brooklyn Simmons</div>
                                <p class="gray-text">CTO, GL Group</p>
                            </div>
                        </div>
                    </div>  
                    <div class="item">
                        <div class="team-item">
                            <div class="image">
                                <img src="assets/images/home-two/t2.png" alt="team">
                            </div>
                            <div class="social-content">
                                <ul class="social-links">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <div class="content">
                                <div class="fs-20 fw-bold">Leslie Alexander</div>
                                <p class="gray-text">Funder, GL Group</p>
                                
                            </div>
                        </div>
                    </div>  
                    <div class="item">
                        <div class="team-item">
                            <div class="image">
                                <img src="assets/images/home-two/t3.png" alt="team">
                            </div>
                            <div class="social-content">
                                <ul class="social-links">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <div class="content">
                                <div class="fs-20 fw-bold">Ronald Richards</div>
                                <p class="gray-text">CTO, GL Group</p>
                            
                            </div>
                        </div>
                    </div>  
                    <div class="item">
                        <div class="team-item">
                            <div class="image">
                                <img src="assets/images/home-two/t4.png" alt="team">
                            </div>
                            <div class="social-content">
                                <ul class="social-links">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <div class="content">
                                <div class="fs-20 fw-bold">Darlene Robertson</div>
                                <p class="gray-text">Advisor, GL Group</p>
                                
                            </div>
                        </div>
                    </div>  
                </div> 
            </div> 
        </div>
    </div>
</section>
<!-- =====>> End 03.10 team  <<===== 
=========================== -->
