<!-- ===========================
=====>> 03.06 your-business <<===== -->
<section class="home-two-your-business-area py-120">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6 content">
                <div class="section-title-two">
                    <span class="fs-16 gray3-text fw-semibold d-flex align-items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <rect x="5" y="4.5" width="14" height="14" rx="3" stroke="#000F5C" stroke-width="2"/>
                            <rect y="0.5" width="16" height="16" rx="4" fill="#266FF2"/>
                        </svg>
                        Your Business
                    </span>
                    <h2 class="fw-bold secondary-text">
                        What we can best for your  business.
                    </h2>
                    <p class="mb-0">
                        Exercitation llamco laboris nis aliquip sed conseqrure dolorn repreh deris luptate velit excepteur duis aute irure.
                    </p> 
                </div>
                <div class="business-category"> 
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                        <button class="nav-link business-btn active" id="v-pills-winning-tab" data-bs-toggle="pill" data-bs-target="#v-pills-winning" type="button" role="tab" aria-controls="v-pills-winning" aria-selected="true">
                            <div class="icon">
                                <img src="assets/images/home-two/bi1.svg" alt="icon">
                            </div>
                            <div class="text">
                                <div class="fs-20">Award winning</div>
                                <p>We won world class award</p>
                            </div>
                        </button>
                        <button class="nav-link business-btn" id="v-pills-support-tab" data-bs-toggle="pill" data-bs-target="#v-pills-support" type="button" role="tab" aria-controls="v-pills-support" aria-selected="false">
                            <div class="icon">
                                <img src="assets/images/home-two/bi2.svg" alt="icon">
                            </div>
                            <div class="text">
                                <div class="fs-20">Supper support</div>
                                <p>24/7 Customer support</p>
                            </div> 
                        </button> 
                        <button class="nav-link business-btn" id="v-pills-delivery-tab" data-bs-toggle="pill" data-bs-target="#v-pills-delivery" type="button" role="tab" aria-controls="v-pills-delivery" aria-selected="false">
                            <div class="icon">
                                <img src="assets/images/home-two/bi3.svg" alt="icon">
                            </div>
                            <div class="text">
                                <div class="fs-20">Fast delivery</div>
                                <p>supper fast povider</p>
                            </div>
                        </button>
                    </div>
                    <div class="border-tt"></div>
                    <div class="tab-content" >
                        <div class="tab-pane fade show active" id="v-pills-winning" role="tabpanel" aria-labelledby="v-pills-winning-tab" tabindex="0">
                            <div class="business-category-content">
                                <ul>
                                    <li><i class="fa-regular fa-circle-check"></i> Excellent Service</li>
                                    <li><i class="fa-regular fa-circle-check"></i> Business Growth</li>
                                    <li><i class="fa-regular fa-circle-check"></i> Business Analysis</li>
                                </ul>
                                <div class="yeas-title">
                                    <div class="counter">
                                        25
                                    </div>
                                    <span>Years of  experiences</span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-support" role="tabpanel" aria-labelledby="v-pills-support-tab" tabindex="0">
                            <div class="business-category-content">
                                <ul>
                                    <li><i class="fa-regular fa-circle-check"></i> Excellent Service</li>
                                    <li><i class="fa-regular fa-circle-check"></i> Business Growth</li>
                                    <li><i class="fa-regular fa-circle-check"></i> Business Analysis</li>
                                </ul>
                                <div class="yeas-title">
                                    <div class="counter">
                                        25
                                    </div>
                                    <span>Years of  experiences</span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-delivery" role="tabpanel" aria-labelledby="v-pills-delivery-tab" tabindex="0">
                            <div class="business-category-content">
                                <ul>
                                    <li><i class="fa-regular fa-circle-check"></i> Excellent Service</li>
                                    <li><i class="fa-regular fa-circle-check"></i> Business Growth</li>
                                    <li><i class="fa-regular fa-circle-check"></i> Business Analysis</li>
                                </ul>
                                <div class="yeas-title">
                                    <div class="counter">
                                        25
                                    </div>
                                     <span>Years of  experiences</span>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-lg-6">
                <div class="business-right">
                    <div class="business-video">
                        <img src="assets/images/home-two/full-shot-people-book-club.png" alt="video">
                        <a href="#" class="video-play-btn">
                            <i class="fa-solid fa-play"></i>
                        </a>
                    </div>
                    <div class="business-info">
                        <img src="assets/images/home-two/business-info.jpg" alt="">
                        <div class="info-text">
                            <img src="assets/images/home-one/about-me.png" alt="image">
                            <div class="">
                                <div class="fs-20 fw-semibold">Leslie Alexander</div>
                                <div class="fs-16">CTO, G Group</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>
<!-- =====>> End 03.06 your-business <<===== 
=========================== -->
